<div id="session">
  <p id="notice"><%= notice %></p>

<div style = "text-align: center">
<font size="5px" color=maroon><strong><%= "Administration Homepage"%></strong></font></div><br><br>
  <table>
    <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody >
    <tr>
      <td style="text-align:left;font-size:16px"><%= link_to 'Student Information', students_url %></td>
    </tr>
    <tr>
      <td style="text-align:left;font-size:16px"><%= link_to 'Company Information', companies_url %></td>
    </tr>
    <tr>
      <td style="text-align:left;font-size:16px"><%= link_to 'Event Management', events_url %></td>
    </tr>
    <tr>
      <td style="text-align:left;font-size:16px"><%= link_to 'Schedule List', appointments_url %></td>
    </tr>
    <tr>
      <td style="text-align:left;font-size:16px"><%= link_to 'Edit Email Messages', email_messages_url %></td>
    </tr>

    </tbody>
  </table>

  <br>
 <table>
    <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody >
    <tr>
      <td style="text-align:left;font-size:16px"><%= link_to 'New Administrator Account', new_useradd_path %></td>
    </tr>
    <tr>
      <td style="text-align:left;font-size:16px"><%= link_to 'Log Out', del_path, data: { confirm: 'Are you sure?' } %></td>
    </tr>
	  </tbody>
 </table>
</div>
