<div id="session">
  <% provide(:title, "Log in") %>

  <br>
  <div class="notice"><%= flash[:danger] %> <%= notice %></div>
  <br>
  <div class="login">
    <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :email %><br>
        <%= f.email_field :email, :placeholder => "Admin Email", class: 'form-control no-radius' %>
        <br>
        <%= f.label :password %><br>
        <%= f.password_field :password, :placeholder => "Admin Password", class: 'form-control no-radius' %>
        <br>
        <br>
        <%= f.submit "Log in", class: "btn btn-primary no-radius" %>
    <% end %>
  </div>
</div>
