<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Confirmation for IAP Registration.</h1>
    <p>
      You have successfully registered.<br>
    </p>
    
<table>
  <tbody>
      <tr>
        <td>Company Name:</td><td><%= @user.name %></td>
      </tr>
      <tr>
        <td>Contact Person:</td><td><%= @user.contact_person %></td>
      </tr>
      <tr>
        <td>Contact Email:</td><td><%= @user.contact_email %></td>
      </tr>
      <tr>
        <td>Sponsor level:</td><td><%= @user.sponsor_level %></td>
      </tr>
      <tr>
        <td>Citizenship Requirement:</td><td><%= @user.citizenship %></td>
      </tr>
      <tr>
        <td>Position Type:</td><td><%= @user.job_type %></td>
      </tr>
      <tr>
        <td>Degree level Requirement:</td><td><%= @user.student_level %></td>
      </tr>
      <tr>
        <td>Representative 1:</td><td><%= @user.rep_1 %></td>
      </tr>
      <tr>
        <td>Representative 2:</td><td><%= @user.rep_2 %></td>
      </tr>
      <tr>
        <td>Representative 3:</td><td><%= @user.rep_3 %></td>
      </tr>
      <tr>
        <td>Representative 4:</td><td><%= @user.rep_4 %></td>
      </tr>
      <tr>
        <td>Representative 5:</td><td><%= @user.rep_5 %></td>
      </tr>
      <tr>
        <td>Representative 6:</td><td><%= @user.rep_6 %></td>
      </tr>
      <% @user.events.each do |e| %> 
        <tr>
          <td>Number of Representatives for <%= e.name %>:</td>
          <td><%= @user.companyevents.where(company_id: @user.id, event_id: e.id).to_yaml.match(/representatives: [ \t]*([^\n\r]*)/).to_s.match(/'(.*)'/).to_s.gsub("'","") %></td>
        </tr>
      <% end %>

  </tbody>
</table>
    <p>Thanks for participating and have a great day!</p>
  </body>
</html>
