<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <% @email = EmailMessage.where(:email => "Register Company").first %>
  <body>
    <h1><%=@email.title%></h1>
    <p>
      <%=@email.header%><br>
    </p>
    <br>
    <% if @user == nil
      @user = Company.first
      %>
      <%end%>
<table>
  <tbody>
      <tr>
        <td>Company Name:</td><td><%= @user.name %></td>
      </tr>
      <tr>
        <td>Contact Person:</td><td><%= @user.contact_person %></td>
      </tr>
      <tr>
        <td>Contact Email:</td><td><%= @user.contact_email %></td>
      </tr>
      <tr>
        <td>Sponsor level:</td><td><%= @user.sponsor_level %></td>
      </tr>
      <tr>
        <td>Citizenship Requirement:</td><td><%= @user.citizenship %></td>
      </tr>
      <tr>
        <td>Position Type:</td><td><%= @user.job_type %></td>
      </tr>
      <tr>
        <td>Degree level Requirement:</td><td><%= @user.student_level.join(" , ") %></td>
      </tr>
      <% if !(@user.rep_1.blank?)%>
      <tr>
        <td>Representative 1:</td><td><%= @user.rep_1 %></td>
      </tr>
      <% end %>
      <% if !(@user.rep_2.blank?)%>
      <tr>
        <td>Representative 2:</td><td><%= @user.rep_2 %></td>
      </tr>
      <% end %>
      <% if !(@user.rep_3.blank?)%>
      <tr>
        <td>Representative 3:</td><td><%= @user.rep_3 %></td>
      </tr>
      <% end %>
      <% if !(@user.rep_4.blank?)%>
      <tr>
        <td>Representative 4:</td><td><%= @user.rep_4 %></td>
      </tr>
      <% end %>
      <% if !(@user.rep_5.blank?)%>
      <tr>
        <td>Representative 5:</td><td><%= @user.rep_5 %></td>
      </tr>
      <% end %>
      <% if !(@user.rep_6.blank?)%>
      <tr>
        <td>Representative 6:</td><td><%= @user.rep_6 %></td>
      </tr>
      <% end %>
      <% @user.events.each do |e| %> 
        <tr>
          <td>Number of Representatives for <%= e.name %>:</td>
          <td><%= @user.companyevents.where(company_id: @user.id, event_id: e.id).to_yaml.match(/representatives: [ \t]*([^\n\r]*)/).to_s.match(/'(.*)'/).to_s.gsub("'","") %></td>
        </tr>
      <% end %>
  </tbody>
</table>
<br>
    <p><%=@email.footer%></p>
  </body>
</html>
