<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <% @email = EmailMessage.where(:email => "Student Reminder").first %>
  <body>
    <h1><%=@email.title%></h1>
    <p>
      <%=@email.header%><br>
    </p>
    <% if @app == nil
      @app = Appointment.first
      %>
    <%end%>
    <% if @event == nil
      @event = Event.first
      %>
    <%end%>
<table>
  <tbody>
      <tr>
        <td>Event:</td><td><%= @app.section %></td>
      </tr>
      <tr>
        <td>Date:</td><td><%= @event.event_date.strftime('%a %b %d') %></td>
      </tr>
      <tr>
        <td>Timeslot:</td><td><%= @app.time_slot %></td>
      </tr>
      

  </tbody>
</table>
    <p> <%=@email.footer%></p>
  </body>
</html>
