<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Confirmation for IAP Registration.</h1>
    <p>
      You have successfully registered.<br>
    </p>
    
<table>
  <tbody>
      <tr>
        <td>Name:</td><td><%= @user.name %></td>
      </tr>
      <tr>
        <td>UIN:</td><td><%= @user.UIN %></td>
      </tr>
      <tr>
        <td>E-mail:</td><td><%= @user.email %></td>
      </tr>
      <tr>
        <td>US Citizen:</td><td><%= @user.US_Citizen %></td>
      </tr>
      <tr>
        <td>Degree Level:</td><td><%= @user.degree %></td>
      </tr>
      <tr>
        <td>Position Type:</td><td><%= @user.position_type %></td>
      </tr>
      <% $stu_slot[@user.id].each do |slot| %>
      <tr>
        <td><%= slot[0] %></td><td><%= slot[1] %></td>
      </tr>
      <% end %>

      

  </tbody>
</table>
    <p> If you need to cancel or add an event, please contact the IAP Coordinator.</p>
    <p>Thanks for participating  and have a great day!</p>
  </body>
</html>
