<p id="notice"><%= notice %></p>

<div style = "text-align: center">
  <font size="5px" color=maroon><strong><%= "Email Messages"%></strong></font><br><br>
</div>

<div class="tableholder">
  <table class="table table-hover table-bordered" align="center">
  <thead>
    <thead>
      <tr>
        <th>Email</th>
        <th>Title</th>
        <th>Header</th>
        <th>Footer</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @email_messages.each do |email_message| %>
        <tr>
          <td data-title="Email" ><%= email_message.email %></td>
          <td data-title="Title" ><%= email_message.title %></td>
          <td data-title="Header" ><%= email_message.header %></td>
          <td data-title="Footer" ><%= email_message.footer %></td>
          <td><%= link_to 'Show', email_message %></td>
          <td><%= link_to 'Edit', edit_email_message_path(email_message) %></td>
          <td><%= link_to 'Destroy', email_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>


