<p id="notice"><%= notice %></p>

<%= yield %>

<p>
  <strong>Email:</strong>
  <%= @email_message.email %>
</p>

<p>
  <strong>Title:</strong>
  <%= @email_message.title %>
</p>

<p>
  <strong>Header:</strong>
  <%= @email_message.header %>
</p>

<p>
  <strong>Footer:</strong>
  <%= @email_message.footer %>
</p>

<%= link_to 'Edit', edit_email_message_path(@email_message) %> |
<%= link_to 'Back', email_messages_path %>