<%= form_for(@company) do |f| %>

    <div style = "text-align: center">
      <font size="5px" color="maroon"><strong><%= "Company Registration"%></strong></font><br><br>
    </div>

    </body>
    <% if @company.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@company.errors.count, "error") %> prohibited this timeslot from being saved:</h2>

          <ul>
            <% @company.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field"><font size="4px">
      <br>•
      <%= f.label :name, "Enter your company name"%><br>
      <%= f.text_field :name, :placeholder => "Company Name", class: 'form-control no-radius width_300'  %>
    </font>
      <br>
    </div>

    <div class="field"><font size="4px">•
      <%= f.label :sponsor_level, "Select your company's sponsor level" %><br></font>
      <%= f.select :sponsor_level, options_for_select(%w[Platinum Gold Silver Bronze], @company.sponsor_level), :prompt=>"---Please select---" %>
    </div>

    <div class="field"><font size="4px"><br>•
      <%= "Enter the names of your company's representatives that will be attending the events. "%><br>&nbsp;
      <strong><%="Platinum members may provide up to 6 representatives, Gold 4, Silver 3 and Bronze 2" %></strong></font>
    </div>

    <div class = "field"><font size="3.2px">
      <%= f.text_field :rep_1, :placeholder => "Representative 1 (Mandatory)", class: 'form-control no-radius width_300'  %>
      <%= f.text_field :rep_2, :placeholder => "Representative 2", class: 'form-control no-radius width_300'  %>
      <%= f.text_field :rep_3, :placeholder => "Representative 3", class: 'form-control no-radius width_300'  %>
      <%= f.text_field :rep_4, :placeholder => "Representative 4", class: 'form-control no-radius width_300'  %>
      <%= f.text_field :rep_5, :placeholder => "Representative 5", class: 'form-control no-radius width_300'  %>
      <%= f.text_field :rep_6, :placeholder => "Representative 6", class: 'form-control no-radius width_300'  %>
    </font></div><br>

    <font size="4px">
      <div class="field">•
        <%= "Enter your company's contact person for this event" %>
      </div>
    </font>

    <div class="field"><font size="3.2px">&nbsp;
      <%= f.label :contact_person, "Name"%><br>
      <%= f.text_field :contact_person, :placeholder => "Contact Person Name", class: 'form-control no-radius width_300'  %>
    </font></div>

    <div class="field"><font size="3.2px">&nbsp;
      <%= f.label :contact_email, "Email"%><br>
      <%= f.text_field :contact_email, :placeholder => "Contact Person Email", class: 'form-control no-radius width_300'  %>
    </font></div>

    <font size="4px">
      <div class="field"><br>•
        <%= f.label :citizenship, "Select if you hire US citizens only, or not"%><br>
        <%= f.select :citizenship, options_for_select(["US Citizen Only", "Any"], @company.citizenship), :prompt=>"---Please select---" %>
      </div>
      <div class="field"><br>•
        <%= f.label :job_type, "Select the job type you are offering" %><br>
        <%= f.select :job_type, options_for_select(%w[Internship Full-time Any ], @company.job_type), :prompt=>"---Please select---" %>
      </div>
      <div class="field"><br>•
        <%= f.label :student_level, "Select the student level you are employing"%><br>
        <font size = "3.2em">
          <%= f.check_box(:student_level, { :multiple => true }, "B.S.", nil) %>&nbsp; <%= "B.S." %><br>
          <%= f.check_box(:student_level, { :multiple => true }, "M.S.", nil) %>&nbsp; <%= "M.S." %><br>
          <%= f.check_box(:student_level, { :multiple => true }, "PH.D", nil) %>&nbsp; <%= "PH.D" %><br></font>
      </div>

      <div class="field"><br>•
        <%= "Choose for each event the number of representatives that is attending. Select 0 for the event you are not attending" %>
      </div></font>

    <font size = "3.2em">
      <div class="field">
        <% args = (@new_flag == 1)? [@eves.length] : [1] %>
        <% args[0].times do %>
            <%= f.fields_for :companyevents do |ff| %>
                <%= ff.label :representatives, "#{@eves[@it][1]}" + DateTime.parse("#{@eves[@it][2]}").strftime(" on %A %m-%d-%Y") + DateTime.parse("#{@eves[@it][3]}").strftime(" from %I:%M%p") + DateTime.parse("#{@eves[@it][4]}").strftime(" to %I:%M%p") %><br>
                <%= ff.select :representatives, options_for_select(%w[0 1 2 3 4 5 6], @reps[@it] ), :prompt=>"---Number of Representatives---" %><br>
                <% @it = @it + 1 %>
            <% end %>
        <% end %>
      </div>
    </font>

    <br>
    <div class="actions" >
      <%= f.submit "Submit", class: "btn btn-primary no-radius" %>
    </div>
<% end %>
