<p id="notice"><%= notice %></p>

<div style = "text-align: center">
  <font size="5px" color=maroon><strong><%= "Company List(Administrative View)"%></strong></font><br><br>
  </div>

<div id="ABComp" style="margin-left:180px">
  <p>Note:<br>&nbsp&nbsp
    C.P. - Contact Person  <br>&nbsp&nbsp
    S.L. - Sponsor Level  <br>&nbsp&nbsp
    CSh. - Citizenship  <br>&nbsp&nbsp
    J.T. - Job Type  <br>&nbsp&nbsp
    Stu.L. - Student Level  <br>&nbsp&nbsp
    M.1. - Mock 1 Rep No.  <br>&nbsp&nbsp
    M.2. - Mock 2 Rep No.  <br>&nbsp&nbsp
    R.1. - Resume 1 Rep No.  <br>&nbsp&nbsp
    R.2. - Resume 2 Rep No.  <br>&nbsp&nbsp
    R.3. - Resume 3 Rep No.  <br>&nbsp&nbsp
    L. - Lunch <br>&nbsp&nbsp
  </p>

<div>
  <%= link_to 'New Company', new_company_path %>
  &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
  <%= link_to 'Back', sessions_url %>
</div>
<br>

  <p><strong>Representives registered for lunch:
  <%= @lunch_total%><strong>
  </p>
</div>


<table align="center" border="3px" cellspacing="0px">
  <thead>
    <tr>
      <th>Name</th>
      <th>C.P.</th>
      <th>Contact Email</th>
      <th>S.L.</th>
      <th>CSh.</th>
      <th>J.T.</th>
      <th>Stu.L.</th>
      <th>Rep 1</th>
      <th>Rep 2</th>
      <th>Rep 3</th>
      <th>Rep 4</th>
      <th>Rep 5</th>
      <th>Rep 6</th>
      <th>M.1.</th>
      <th>M.2.</th>
      <th>R.1.</th>
      <th>R2.</th>
      <th>R.3.</th>
      <th>L.</th>
      <th colspan="3">Operation</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.contact_person %></td>
        <td><%= company.contact_email %></td>
        <td><%= company.sponsor_level %></td>
        <td><%= company.citizenship %></td>
        <td><%= company.job_type %></td>
        <td><%= company.student_level %></td>
        <td><%= company.rep_1 %></td>
        <td><%= company.rep_2 %></td>
        <td><%= company.rep_3 %></td>
        <td><%= company.rep_4 %></td>
        <td><%= company.rep_5 %></td>
        <td><%= company.rep_6 %></td>
        <td><%= company.intvw_1_rep_no %></td>
        <td><%= company.intvw_2_rep_no %></td>
        <td><%= company.clinic_1_rep_no %></td>
        <td><%= company.clinic_2_rep_no %></td>
        <td><%= company.clinic_3_rep_no %></td>
        <td><%= company.lunch_rep_no %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

