<!DOCTYPE html>
<html>
<head>
	<title>Myapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  </head>

<div id= "header_back" align="center">
  <div style="padding:15px;">
  <%=image_tag("csen-logo.png", alt: "Example Image", :size=>"600x90")%>
  </div>
  <% if session[:useradd_id] %>
	<ul id="globalnav" >
		<li><%= link_to 'Home', sessions_url %> </li>
  	<li><%= link_to 'Student Infomation', students_url %> </li>
  	<li><%= link_to 'Company Infomation', companies_url %> </li>
  	<li><%= link_to 'Event Management', events_url %></li>
		<li><%= link_to 'Schedule List', appointments_url %></li>
		<li> <%= link_to 'New Administrator Account', new_useradd_path %></li>
		<li> <%= link_to 'Log Out', del_path, data: { confirm: 'Are you sure?' } %></li>
	</ul>
  <% end %>
</div>


<div id="fixed-footer"><font color = "9999CC" size="1"><i>Developed by: Trailblazers Team <br> Contact: no.reply.cse.careerfair.tamu@gmail.com</i></font></div>

<body>
<%= yield %>
</body>

</html>
