<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <div>
  <%=image_tag("title.jpg", alt: "Example Image", :size=>"800x120")%>
  <div>
</head>
<div id="fixed-footer"><font color = "9999CC" size="1"><i>Developed by: TAMU Hullabaloo Team <br> Contact: no.reply.cse.careerfair.tamu@gmail.com</i></font></div>

<body>

<%= yield %>

</body>
</html>
