<!DOCTYPE html>
<html>
<head>
	<title>Myapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  </head>

<div id= "header_back">
  <div style="padding:15px;">
  <center><%=image_tag("csen-logo.png", alt: "Example Image", :size=>"600x90")%></center>
  </div>
</div>
  


<div id="fixed-footer"><font color = "9999CC" size="1"><i>Developed by: TAMU Hullabaloo Team <br> Contact: no.reply.cse.careerfair.tamu@gmail.com</i></font></div>

<body>

<%= yield %>

</body>
</html>
